openapi: 3.2.0
info:
  title: Zeffy Public Campaigns API
  description: 'The Zeffy Public API gives nonprofit organization admins free, read-only access to their Zeffy data: Payments (transactions/donations), Contacts (donors and supporters), and Campaigns (donation forms, events, and other campaign types).'
  version: '1.0'
  contact:
    name: Zeffy
    url: https://www.zeffy.com/integration/api
servers:
- url: https://api.zeffy.com/api/v1
  description: Zeffy Public API
security:
- bearerAuth: []
tags:
- name: Campaigns
  description: Donation forms, events, and other campaign types.
paths:
  /campaigns:
    get:
      operationId: listCampaigns
      tags:
      - Campaigns
      summary: List campaigns
      description: Lists an organization's donation forms, events, and other campaign types. Confirmed endpoint.
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Cursor for the next page.
      responses:
        '200':
          description: A page of campaigns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /campaigns/{id}:
    get:
      operationId: getCampaign
      tags:
      - Campaigns
      summary: Get a campaign
      description: Retrieves a single campaign, including title, description, goal, dates, occurrences, and amount raised. Modeled from the documented ability to look up a specific campaign.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Campaign:
      type: object
      description: A donation form, event, or other campaign type. Field set is modeled.
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        goal:
          type:
          - number
          - 'null'
        amountRaised:
          type: number
        startDate:
          type:
          - string
          - 'null'
          format: date
        endDate:
          type:
          - string
          - 'null'
          format: date
    CampaignList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'
        has_more:
          type: boolean
        next_cursor:
          type:
          - string
          - 'null'
  responses:
    Unauthorized:
      description: Missing or invalid API key.
    RateLimited:
      description: Rate limit exceeded (100 requests per minute per API key).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Per-organization API key generated under Settings then Integrations, sent as "Authorization: Bearer YOUR_API_KEY".'
