openapi: 3.2.0
info:
  title: Zeffy Public Payments API
  description: 'The Zeffy Public API gives nonprofit organization admins free, read-only access to their Zeffy data: Payments (transactions/donations), Contacts (donors and supporters), and Campaigns (donation forms, events, and other campaign types).'
  version: '1.0'
  contact:
    name: Zeffy
    url: https://www.zeffy.com/integration/api
servers:
- url: https://api.zeffy.com/api/v1
  description: Zeffy Public API
security:
- bearerAuth: []
tags:
- name: Payments
  description: An organization's transactions and donations.
paths:
  /payments:
    get:
      operationId: listPayments
      tags:
      - Payments
      summary: List payments
      description: Lists an organization's payments. Filterable by currency, status, type, contact, campaign, and date range. Confirmed endpoint.
      parameters:
      - name: currency
        in: query
        required: false
        schema:
          type: string
        description: Filter by currency (e.g. USD, CAD).
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: Filter by payment status.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - online
          - manual
          - imported
        description: Filter by payment type.
      - name: contactId
        in: query
        required: false
        schema:
          type: string
        description: Filter by contact.
      - name: campaignId
        in: query
        required: false
        schema:
          type: string
        description: Filter by campaign.
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Start of the date range.
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
        description: End of the date range.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Cursor for the next page (next_cursor from a prior response).
      responses:
        '200':
          description: A page of payments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /payments/{id}:
    get:
      operationId: getPayment
      tags:
      - Payments
      summary: Get a payment
      description: Retrieves a single payment, including line items, refund details, buyer info, and a link to the tax receipt. Modeled from the documented ability to look up a specific payment.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    PaymentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        has_more:
          type: boolean
        next_cursor:
          type:
          - string
          - 'null'
    Payment:
      type: object
      description: A transaction/donation. Field set is modeled.
      properties:
        id:
          type: string
        currency:
          type: string
        status:
          type: string
        type:
          type: string
          enum:
          - online
          - manual
          - imported
        amount:
          type: number
        contactId:
          type: string
        campaignId:
          type: string
        createdAt:
          type: string
          format: date-time
        lineItems:
          type: array
          items:
            type: object
        refund:
          type:
          - object
          - 'null'
        taxReceiptUrl:
          type:
          - string
          - 'null'
          format: uri
  responses:
    Unauthorized:
      description: Missing or invalid API key.
    RateLimited:
      description: Rate limit exceeded (100 requests per minute per API key).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Per-organization API key generated under Settings then Integrations, sent as "Authorization: Bearer YOUR_API_KEY".'
